body{
    background-color: beige;
    min-height: 50rem;
}

.container {
    max-width: 120rem;
    margin: 8rem 8rem;
    background-color: rgb(209, 209, 209);
    box-shadow: 0 2rem 6rem rgb(0, 0, 0, .3);
    min-height: 5rem;
}

.header {
max-height: 7rem;
background-color:rgb(221, 199, 165);
border-bottom: rgb(206, 206, 206) ;
display: flex;
justify-content: space-between;
align-items: center;
}

.content {
    display: flex;
    height: 43rem;
}

form {
display: flex;
align-items: center;
}

.logo{
    width: 7rem;
    height: 7rem
}

.user-photo{
    display: flex; //daca nu puneam asta, atunci div-ul avea display block, care nu imi permite sa alinieez ce e in interior
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-color: aqua;
    align-items: center; //pe verticala
    justify-content: center; //pe orizontala
}

.search-input{
    height: 50px
}

.search-button{
    height: 56px;
}
.sidebar {
    background-color:rgba(197, 157, 157, 0.3);
    flex: 0 0 18%;
    height: 43rem;
}

.main-view {
    background-color: beige;
    flex: 1
}