.App {
    text-align: center;
}

.main-content {
    min-width: 320px;
}

.battlefieldTable {
    border: 3px solid #2acd737b;
}

.centered {
    float: none;
    margin: 0 auto;
    margin-bottom: 22px;
}

.navbar-default {
    background-color: #9498f8;
    background: #9498f8;
    border-color: #9498f8;
    border-radius: 0;
    color: white;
    margin-bottom: 0;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:hover {
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    font-size: 16px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.color {
    color: #58b4a0;
}

h1 {
    color: #616aecd2;
    text-decoration: underline;
    cursor: pointer;
}

.panel{
    display: flex;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 0;
    background-color: #00d5ff24;
    table-layout: fixed;
    border: 3px solid #3ebaf481;
    width: 500px;
    height: 500px;
}

.battleFieldPanel {
    padding-top: 20px;
    background-color: white;
}

.scoreText {
    margin-top: 5px;
    margin-bottom: 8px;
}

.scoresPanel {
    padding-top: 20px;
}
button {
    color: #595959;
    background-color: #2fd2a2;
    border: none;
    height: 98px;
    width: 200px;
    font-weight: bold;
}

td {
    height: 50px;
    width: 50px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-spacing: 0 0;
    padding: 0;
}

ul {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
}

.emptyBattleField {
    height: 500px;
    width: 500px;
}

.cellStyle {
    width: 50px;
    height: 48px;
}

.miss {
    width: 50px;
    height: 50px;
}

.hitted {
    width: 50px;
    height: 50px;
}

.airplaneIcon {
    width: 100px;
    height: auto;
    padding: 10px;
}

.airplaneItem {
    float: left;
    width: 200px;
    clear: left;
}

.hitPointMark {
    width: 12px;
    margin: 3px;
}

.airplaneContainer {
    overflow: auto;
    width: auto;
    max-height: 500px;
}


.scoreHits {
    background-color: #f43ee58d;
    width: 50%;
    float: left;
}

.scoreShots {
    background-color: #ffd23c98;
    width: 50%;
    float: left;
}

.scores {
    color: #595959;
}

.scorePanel {
    display: inline-block;
    width: 100%;
}

p {
    color: #595959;
}

hr {
    border-color: #595959;
    margin: 0 10px 0 10px;
    border-top-width: 2px;
}

ul {
    list-style-type: none;
    padding: 0px;
}
