
.grid-container {
  grid-template-areas:
  'header header header header header header'
  'menu main main main main right'
  'footer footer footer footer footer footer';
  background-color: pink;
  padding: 10px;
  min-height: 50rem;
  overflow: auto;
}

@media (min-width: 768px) {

  .item1 { grid-area: header; }
  .item2 { grid-area: menu; }
  .item3 { grid-area: main; }

  .item5 { grid-area: footer; }
  
  .grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'menu main main main main main'
      'footer footer footer footer footer footer';
    gap: 1px;
    background-color: #000000;
    padding: 0px;
    min-height: 50rem;
  }
  
  .grid-container > div {
    background-color: pink;
    text-align: center;
    padding: 20px 20px;
    font-size: 30px;
  }
}

