.main-content{
  min-height: 50rem;
  // background-color: bisque;
}
.cards{
  display: flex;
   flex-wrap: wrap;
  justify-content: center;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  margin: 10px;
  perspective: 1000px;
}

.flip-card-inner {
  flex: 0 1 24%;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  padding: 10px;
  flex: 10%;
  background-color: rgb(248 248 248);
  color: rgb(0, 0, 0);
}

.flip-card-back {
  padding: 10px;
  flex: 10%;
  background-color: rgb(248 248 248);
  color: rgb(0, 0, 0);
  transform: rotateY(180deg);
}

img{
  width: 240px;
  height: 200px;
}

h3 {
  padding: 10px;
  margin: 0px;
}

p{
  margin: 0;
  padding: 10px;
  font-size: 16px;
}

@media(min-width: 768px) {
  .main-content{

    // background-color: aquamarine;


  }
}

@media(min-width: 997px) {
  .main-content {

    // background-color: rgb(233, 195, 42);
  }

}
