.grid-navigation-container {
display: grid;
grid-template-columns: 30% 30% 30%;
grid-gap: 10px;
justify-content: center;
}

  .navigation-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 16px;
    margin: 10px 0px;
    text-align: center;
  }
  

@media(min-width: 768px) {
  .grid-navigation-container  {
    display: grid;
    grid-template-columns: 100%;
  background-color: yellow;

  }
}